@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Tauri&display=swap');

body {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    user-select: none;
}

body::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width:1024px) {
    
.top{
    display: flex;
    position: relative;
    height: 6vh;
    width: 100%;
}

.top > h1 {
    position: relative;
    bottom: 1vh;
    left: 5%;
    font-size: 3vh;
    color: #f5e163;
    font-family: "Tauri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.top > .categorys {
    top: 1.5vh;
    position: relative;
    left: 38%;
    display: flex;
    float: left;
    height: 100%;
}

.top > .categorys > .selection {
    text-align: center;
    margin-right: 3vh;
    color: #090909; 
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: auto;
    height: 73%;
}

.top > .categorys > .selection:active {
    border-bottom: solid 3px black;
}

.top > img {
    position: relative;
    left: 78%;
    top: 1vh;
    width: 40px;
    height: 40px;
}

.top > i {
    position: relative;
    top: 1vh;
    left: 70%;
    font-size: 3vh;
    margin-right: 2vh;
}

.f-image {
    position: absolute;
    top: 6.85vh;
    left: 0;
    height: 100%;
    width: 100%;

}

.f-image > img {
    width: 100%;
}

.f-image > h1 {
  position: relative;
  text-align: left;
  bottom: 50vh;
  left: 60vh;
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-size: 6vh;
  font-weight: 600;
  font-style: normal;
}

.f-image > p {
    position: relative;
    bottom: 60vh;
    left: 60vh;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 1.75vh;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.product-recom {
    position: relative;
    left: 0;
    top: 80vh;
    width: 100%;
    height: 50vh;
}

.product-recom > h1 {
    text-align: center;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 6vh;
    font-weight: 600;
    font-style: normal;
}

mark {
    background-color: #f5e163;
}

.hex {
    position: absolute;
    left: 20vh;
    top: 10vh;
    width: 354px;
    height: 250px;
    background-color: #fdfae7;
    border-color: #fdfae7;
    position: relative;
    display: inline-block;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 80px solid;
    border-color: inherit;
    border-left: 178px solid transparent;
    border-right: 178px solid transparent;
    position: absolute;
    top: -80px;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -80px;
    border-top: 80px solid;
    border-color: inherit;
    border-left: 178px solid transparent;
    border-right: 178px solid transparent;
}

.hex > img {
    margin: auto;
    display: block;
    height: 20vh;
    width: 20vh;
}

.text-container  {
    position: relative;
    bottom: 14.5vh;
    left: 70vh;
    width: 500px;
    height: 300px;
}

.text-container > .title {
    width: 100%;
    height: auto;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 2.5vh;
    font-weight: 600;
    font-style: normal;
}

.text-container > .content {
    width: 100%;
    height: auto;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 1.75vh;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.bn54 {
    position: absolute;
    bottom: 5vh;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #f5e163;
    border: 1px solid rgba(0, 0, 0, 0.396);
}
  
.bn54 .bn54span {
    font-family: "Eczar", serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}
  
@keyframes bn54rotate {
0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
}
25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
}
50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
}
75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
}
100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
}
}

@keyframes bn54storm {
0% {
    transform: translate3d(0, 0, 0) translateZ(0);
}
25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
}
50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
}
75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
}
100% {
    transform: translate3d(0, 0, 0) translateZ(0);
}
}

.product > .header {
    position: relative;
    top: 1vh;
    left: 38%;
    width: 40vh;
    height: auto;
}

.header > h1,h4,h3{
    text-align: center;
    font-family: "Eczar", serif;
}

.items {
    position: relative;
    left: 9%;
    width: 150vh;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(4,.4fr);
    grid-template-rows: repeat(4,.4fr);
    overflow: auto;
}

.items > .product {
    margin: auto;
    display: block;
    height: 50vh;
    width: 32.7vh;
    /* margin-left: 1vh;  
    margin-top: 1vh; */
}

.items > .product > .hex {
    position: absolute;
    top: 8vh;
    left: 2.2vh;
    width: 304px;
    height: 220px;
    background-color: #fdfae7;
    border-color: #fdfae7;
    position: relative;
    display: inline-block;
}

.items > .product > .hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 80px solid;
    border-color: inherit;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
    position: absolute;
    top: -80px;
}

.items > .product > .hex:after {
    content: "";
    width: 0;
    border-top: 80px solid;
    border-color: inherit;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
}

.items > .product > .hex > img{
    margin: auto;
    display: block;
    width: 150px;
    height: 200px;
}


.items > .product > p {
    position: relative;
    right: 1vh;
    top: 14vh;
    text-align: center;
    font-size: 2vh;
    font-family: "Eczar", serif;
}

.items > .product > .price {
    position: relative;
    left: 10vh;
    top: 14vh;
    width: 10vh;
    height: 3vh;
    background-color: #fbf09b;
    transform: rotate(176deg);
}

.items > .product > .price > p {
    text-align: center;
    position: relative;
    top: .1vh;
    font-family: "Eczar", serif;
    color: #7c702b;
    transform: rotate(184deg);
}

.comments-containers {
    position: relative;
    height: auto;
    width: 100%;
    top: 110vh;
}

.comments-containers > h2 {
    position: relative;
    bottom: 1vh ;
    text-align: center;
    font-family: "Eczar", serif;
}

.comments-containers > h3 {
    color: #f5e163;
    text-align: center;
    font-family: "Eczar", serif;
}

.comments {
    position: relative;
    left: 22.5vh;
    display: grid;
    grid-template-columns: repeat(2,.4fr);
    grid-template-rows: repeat(2,.4fr)
}

.comment {
    width: 70vh;
    background-color: rgb(250, 250, 250);
    margin-bottom: 4vh;
    border-radius: 10px;
}

.comment:nth-child(n+2){
    height: 60%;
}

.comment:nth-child(4){
   position: relative;
   bottom: 8vh; 
}


.comment > .profile {
    position: relative;
    top: 1vh;
    left: 2vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: white;
}

.comment > .profile > i {
    position: relative;
    left: 20%;
    top: 17%;
    font-size: 3vh;
    color: grey;
}

.comment > .name {
    position: relative;
    left: 8vh;
    bottom: 3vh;
    font-family: "Eczar", serif;
    color: grey;
}

.comment > .content {
    font-family: "Eczar", serif;
    position: relative;
    left: 4vh;
    width: 90%;
    height: 20vh;
}

.coduri {
    position: relative;
    left: 10vh;
    height: auto;
    width: 50%;
}

.coduri > h2{
    text-align: left;
    font-family: "Eczar", serif;
}

.code{
    width: auto;
    height: 3vh;
    margin-bottom: 1vh;
    display: flex;
}

.code > .code_container{
    width: 5vh;
    height: 2vh;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(232, 232, 232);
    font-family: "Eczar", serif;
    color: grey;
}

.code > .code_container > p {
    position: relative;
    bottom: 1.5vh;
}

.code > p {
    position: relative;
    bottom: 1.5vh;
    font-family: "Eczar", serif;
}

.poveste {
    position: relative;
    left: 10vh;
    height: 40vh;
    width: 50%;
}

.poveste > h2 {
    text-align: left;
    font-family: "Eczar", serif;
}

.poveste > p {
    text-align: left;
    font-family: "Eczar", serif;
    font-size: 15px;
}

.poveste > .first-image{
    position: relative;
    bottom: 80vh;
    left: 140vh;
}

.poveste > .second-image {
    position: relative;
    left: 117vh;
    bottom: 40vh;
}

.team-members {
    margin: 50px 0 0 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.team-members > .member {
    width: 20vh;
    height: 20vh;
    background-color: rgb(232, 232, 232);
    border-radius: 6vh 6vh 10px 10px;
    margin: 5vh 5vh;
}

.team-members > .member > .img {
    position: relative;
    left: 24%;
    bottom: 23%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
}

.team-members > .member > .img  > i {
    position: relative;
    left: 24%;
    top: 20%;
    font-size: 5vh;
}

.team-members > .member > .content {
    position: relative;
    left: 2.5vh;
    bottom: 5vh;
    height: 13vh;
    width: 15vh;
}

.team-members > .member > .content > h1{
    text-align: center;
    font-family: "Eczar", serif;
    font-size: 23px;
} 

.team-members > .member > .content > h4{
    position: relative;
    bottom: 2vh;
    text-align: center;
    font-family: "Eczar", serif;
    font-size: 15px;
    color: #fedc00;
} 

.contact_us > .email {
    position: relative;
    top: 20vh;
    left: 30vh;
    color:  #f1d938;
    font-size: 1.8vh;
    font-family: "Eczar", serif;
}

.contact_us > .nr_telefon {
    position: relative;
    top: 18vh;
    left: 30vh;
    font-size: 1.8vh;
    color:  #f1d938;
    font-family: "Eczar", serif;
}

.contact_us > .sediu {
    position: relative;
    top: 16vh;
    left: 30vh;
    font-size: 1.8vh;
    color:  #f1d938;
    font-family: "Eczar", serif;
}

.contact_us > .formular {
    position: relative;
    left: 60%;
    width: 50vh;
    height: auto;
}

.contact_us > .formular > * > input {
    width:40vh;
    height: 44px;
    background-color: #0e112d0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    margin-bottom: 1vh;
}

.contact_us > .formular > * > .label {
    display: block;
    margin-bottom: .3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.contact_us > .formular > * >  input:hover, input:focus {
    outline: none;
    border-color: #05060f;
  }

.formular input:focus {
    outline: none;
  }

}

@media screen and (max-width:500px) {

    body {
        background-color: rgb(255, 255, 255);
        overflow: auto;
        user-select: none;
        width: auto;
    }
    
    /* -------------[Main Page]------------ */

    .top{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 10vh;
        width: 20%;
    }
    
    .top > h1 {
        position: relative;
        bottom: 1.5vh;
        left: 5%;
        font-size: 3vh;
        color: #f5e163;
        font-family: "Tauri", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    .top > .categorys {
        top: 1.5vh;
        position: relative;
        left: 30%;
        display: flex;
        float: left;
        height: 100%;
    }
    
    .top > .categorys > .selection {
        text-align: center;
        margin-right: 2vh;
        color: #090909; 
        font-family: "Eczar", serif;
        font-size: 2vh;
        font-weight: 600;
        font-style: normal;
        width: auto;
        height: 64%;
    }
    
    .top > .categorys > .selection:active {
        border-bottom: solid 3px black;
    }
    
    .top > img {
        position: relative;
        left: 75%;
        top: 1vh;
        width: 30px;
        height: 30px;
    }
    
    .f-image {
        display: none;
        position: relative;
        bottom: 1vh;
        left: 0;
        height: auto;
        width: 130%;
    }
    
    .f-image > h1 {
      position: relative;
      text-align: left;
      bottom: 75vh;
      left: 50vh;
      font-family: "Eczar", serif;
      font-optical-sizing: auto;
      font-size: 10vh;
      font-weight: 600;
      font-style: normal;
    }

    .f-image >  .bn54 {
        display: none;
    }
    
    .f-image > p {
        position: relative;
        bottom: 90vh;
        left: 50vh;
        text-align: left;
        font-family: "Eczar", serif;
        font-optical-sizing: auto;
        font-size: 3vh;
        font-weight: 400;
        font-style: normal;
        color: grey;
    }
    
    .product-recom {
        position: relative;
        right: 1vh;
        bottom: 5vh;
        width: 104%;
        height: auto;
    }
    
    .product-recom > h1 {
        text-align: center;
        font-family: "Eczar", serif;
        font-optical-sizing: auto;
        font-size: 4vh;
        font-weight: 600;
        font-style: normal;
    }
    
    mark {
        background-color: #f5e163;
    }
    
    .hex {
        position: relative;
        top: 3vh;
        left: 4vh;
        width: 174px;
        height: 130px;
        background-color: #fdfae7;
        border-color: #fdfae7;
        position: relative;
        display: inline-block;
    }
    
    .hex:before {
        content: " ";
        width: 0; height: 0;
        border-bottom: 40px solid;
        border-color: inherit;
        border-left: 87px solid transparent;
        border-right: 87px solid transparent;
        position: absolute;
        top: -39px;
    }
    
    .hex:after {
        content: "";
        width: 0;
        position: absolute;
        right: 0vh;
        bottom: -39px;
        border-top: 40px solid;
        border-color: inherit;
        border-left: 87px solid transparent;
        border-right: 87px solid transparent;
    }
    
    .hex > img {
        display: block;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        height: 10vh;
        width: 10vh;
    }
    
    .text-container  {
        position: relative;
        bottom: 17vh;
        left: 55%;
        width: 40%;
        height: 300px;
    }
    
    .text-container > .title {
        width: 100%;
        height: auto;
        text-align: left;
        font-family: "Eczar", serif;
        font-optical-sizing: auto;
        font-size: 1.75vh;
        font-weight: 600;
        font-style: normal;
    }
    
    .text-container > .content {
        width: 100%;
        height: auto;
        text-align: left;
        font-family: "Eczar", serif;
        font-optical-sizing: auto;
        font-size: 1.25vh;
        font-weight: 400;
        font-style: normal;
        color: grey;
    }
    
    .bn54 {
        position: absolute;
        bottom: 5vh;
        outline: none;
        text-decoration: none;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        height: 35px;
        width: 90px;
        opacity: 1;
        background-color: #f5e163;
        border: 1px solid rgba(0, 0, 0, 0.396);
    }
      
    .bn54 .bn54span {
        font-family: "Eczar", serif;
        color: #000000;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }
    
    .bn54:hover {
        animation: bn54rotate 0.7s ease-in-out both;
    }
    
    .bn54:hover .bn54span {
        animation: bn54storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
    }
      
    @keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    }
    
    @keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    }

    .comments-containers {
        position: relative;
        height: auto;
        width: 100%;
        bottom: 25vh;
    }
    
    .comments-containers > h2 {
        position: relative;
        bottom: 1vh ;
        text-align: center;
        font-family: "Eczar", serif;
    }
    
    .comments-containers > h3 {
        color: #f5e163;
        text-align: center;
        font-family: "Eczar", serif;
    }
    
    .comments {
        margin-left: 5%;
        width: 90%;
        height: auto;
    }
    
    .comment {
        width: 100%;
        height: auto;
        background-color: rgb(239, 239, 239);
        margin-bottom: 4vh;
        border-radius: 10px;
    }

    /* .comment:nth-child(1) {
        height: 35vh;
    }

    .comment:nth-child(2) {
        height: 20vh;
    }

    .comment:nth-child(3),:nth-child(4) {
        height: 20vh;
    } */
    
    .comment > .profile {
        position: relative;
        top: 1vh;
        left: 2vh;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        background-color: white;
    }
    
    .comment > .profile > i {
        position: relative;
        left: 20%;
        top: 17%;
        font-size: 3vh;
        color: grey;
    }
    
    .comment > .name {
        width: 30%;
        position: relative;
        left: 8vh;
        bottom: 3vh;
        font-family: "Eczar", serif;
        color: grey;
    }
    
    .comment > .content {
        font-family: "Eczar", serif;
        position: relative;
        left: 4vh;
        width: 80%;
        bottom: 1.5vh;
        height: auto;
        font-size: 13px;
    }

    /* -------------[Product Page]------------ */

    .products{
        width: 100%;
        height: 100%;
    }

    
    .product > .header {
        position: relative;
        top: 1vh;
        left: 50%;
        width: 100%;
        height: auto;
    }
    
    .header > h1,h4,h3{
        text-align: center;
        font-family: "Eczar", serif;
    }
    
    .items {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
    }
    
    .items > .product {
        position: relative;
        left: 1.5vh;
        height: 42vh;
        width: auto;
        margin: 0 auto 0 0 ;
    }

    .product:nth-child(7),:nth-child(8) {
        height: 55vh;
    }
    
    .items > .product > .hex {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 180px;
        height: 150px;
        background-color: #fdfae7;
        border-color: #fdfae7;
        position: relative;
        display: inline-block;
    }
    
    .items > .product > .hex:before {
        content: " ";
        width: 0; height: 0;
        border-bottom: 50px solid;
        border-color: inherit;
        border-left: 90px solid transparent;
        border-right: 90px solid transparent;
        position: absolute;
        top: -50.1px;
    }
    
    .items > .product > .hex:after {
        content: "";
        width: 0;
        border-top: 50px solid;
        border-color: inherit;
        border-left: 90px solid transparent;
        border-right: 90px solid transparent;
        position: absolute;
        bottom: -50.1px;
    }
    
    .items > .product > .hex > img{
        margin: auto;
        display: block;
        width: 100px;
        height: 130px;
    }
    
    
    .items > .product > p {
        position: relative;
        top: 14vh;
        text-align: center;
        font-size: 2vh;
        font-family: "Eczar", serif;
    }
    
    .items > .product > .price {
        position: relative;
        left: 25%;
        top: 14vh;
        width: 10vh;
        height: 3vh;
        background-color: #fbf09b;
        transform: rotate(176deg);
    }
    
    .items > .product > .price > p {
        text-align: center;
        position: relative;
        top: .1vh;
        font-family: "Eczar", serif;
        color: #7c702b;
        transform: rotate(184deg);
    }

        /* -------------[About Us Page]------------ */
    
    .coduri {
        position: relative;
        left: 3%;
        height: auto;
        width: 50%;
    }
    
    .coduri > h2{
        text-align: left;
        font-family: "Eczar", serif;
        font-size: 19px;
    }
    
    .code{
        width: 30vh;
        height: 5vh;
        margin-bottom: 1vh;
        display: flex;
    }
    
    .code > .code_container{
        width: 5vh;
        height: 2vh;
        border-radius: 5px;
        background-color: rgb(232, 232, 232);
    }

    .code > .code_container > p {
        position: relative;
        bottom: 2vh;
        font-family: "Eczar", serif;
        color: grey;
        text-align: center; 
    }
    
    .code > p {
        position: relative;
        left: 1vh;
        bottom: 1.5vh;
        font-size: 12px;
        font-family: "Eczar", serif;
    }
    
    .poveste {
        position: relative;
        left: 3%;
        height: 99vh;
        width: 90%;
    }
    
    .poveste > h2 {
        text-align: left;
        font-family: "Eczar", serif;
        font-size: 19px;
    }
    
    .poveste > p {
        text-align: left;
        font-family: "Eczar", serif;
        font-size: 12px;
    }
    
    .poveste > .first-image{
        display: none;
    }
    
    .poveste > .second-image {
        display: none;
    }

            /* -------------[Team Members Page]------------ */
    
    .team-members {
        width: 100%;
        height: 110vh;
        display: flex;
        flex-wrap: wrap;
    }
    
    .team-members > .member {
        width: 10vh;
        height: 10vh;
        background-color: rgb(232, 232, 232);
        margin:auto;
        border-radius: 6vh 6vh 10px 10px;
    }
    
    .team-members > .member > .img {
        position: relative;
        left: 21%;
        bottom: 23%;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        background-color: rgb(244, 244, 244);
    }
    
    .team-members > .member > .img  > i {
        position: relative;
        left: 25%;
        top: 20%;
        font-size: 3vh;
    }
    
    .team-members > .member > .content {
        position: relative;
        bottom: 3vh;
        height: 5vh;
        width: 10vh;
    }
    
    .team-members > .member > .content > h1{
        text-align: center;
        font-family: "Eczar", serif;
        font-size: 12px;
    } 
    
    .team-members > .member > .content > h4{
        position: relative;
        bottom: 2vh;
        text-align: center;
        font-family: "Eczar", serif;
        font-size: 8px;
        color: #fedc00;
    } 

    .contact_us > .email {
        position: relative;
        left: 5vh;
        color:  #f1d938;
        font-size: 1.8vh;
        font-family: "Eczar", serif;
    }
    
    .contact_us > .nr_telefon {
        position: relative;
        bottom: 2.5vh;
        left: 5vh;
        font-size: 1.8vh;
        color:  #f1d938;
        font-family: "Eczar", serif;
    }
    
    .contact_us > .sediu {
        position: relative;
        bottom: 5vh;
        left: 5vh;
        font-size: 1.8vh;
        color:  #f1d938;
        font-family: "Eczar", serif;
    }
    
    .contact_us > .formular {
        position: relative;
        left: 5vh;
        bottom: 25vh;
        width: 50vh;
        height: auto;
    }
    
    .contact_us > .formular > * > input {
        width:25vh;
        height: 30px;
        background-color: #0e112d0a;
        border-radius: .5rem;
        padding: 0 1rem;
        border: 2px solid transparent;
        font-size: 1rem;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
        margin-bottom: 1vh;
    }
    
    .contact_us > .formular > * > .label {
        display: block;
        margin-bottom: .3rem;
        font-size: .8rem;
        font-weight: bold;
        color: #05060f99;
        transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    }
    
    .contact_us > .formular > * >  input:hover, input:focus {
        outline: none;
        border-color: #05060f;
      }
    
    .formular input:focus {
        outline: none;
      }
    
    
}
/* 

.top{
    display: flex;
    position: relative;
    height: 6vh;
    width: 100%;
}

.top > h1 {
    position: relative;
    bottom: 1vh;
    left: 5%;
    font-size: 3vh;
    color: #f5e163;
    font-family: "Tauri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.top > .categorys {
    top: 1.5vh;
    position: relative;
    left: 38%;
    display: flex;
    float: left;
    height: 100%;
}

.top > .categorys > .selection {
    text-align: center;
    margin-right: 3vh;
    color: #090909; 
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: auto;
    height: 73%;
}

.top > .categorys > .selection:active {
    border-bottom: solid 3px black;
}

.top > i {
    position: relative;
    top: 1vh;
    left: 70%;
    font-size: 3vh;
    margin-right: 2vh;
}

.f-image {
    position: absolute;
    top: 6.85vh;
    left: 0;
    height: auto;
    width: auto;
}

.f-image > h1 {
  position: relative;
  text-align: left;
  bottom: 50vh;
  left: 60vh;
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-size: 6vh;
  font-weight: 600;
  font-style: normal;
}

.f-image > p {
    position: relative;
    bottom: 60vh;
    left: 60vh;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 1.75vh;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.product-recom {
    position: relative;
    left: 0;
    top: 80vh;
    width: 100%;
    height: 50vh;
}

.product-recom > h1 {
    text-align: center;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 6vh;
    font-weight: 600;
    font-style: normal;
}

mark {
    background-color: #f5e163;
}

.hex {
    position: absolute;
    left: 20vh;
    top: 10vh;
    width: 354px;
    height: 250px;
    background-color: #fdfae7;
    border-color: #fdfae7;
    position: relative;
    display: inline-block;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 80px solid;
    border-color: inherit;
    border-left: 178px solid transparent;
    border-right: 178px solid transparent;
    position: absolute;
    top: -80px;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -80px;
    border-top: 80px solid;
    border-color: inherit;
    border-left: 178px solid transparent;
    border-right: 178px solid transparent;
}

.hex > img {
    position: absolute;
    top: 2vh;
    left: 24%;
    height: 20vh;
    width: 20vh;
}

.text-container  {
    position: relative;
    bottom: 14.5vh;
    left: 70vh;
    width: 500px;
    height: 300px;
}

.text-container > .title {
    width: 100%;
    height: auto;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 2.5vh;
    font-weight: 600;
    font-style: normal;
}

.text-container > .content {
    width: 100%;
    height: auto;
    text-align: left;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-size: 1.75vh;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.bn54 {
    position: absolute;
    bottom: 5vh;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #f5e163;
    border: 1px solid rgba(0, 0, 0, 0.396);
}
  
.bn54 .bn54span {
    font-family: "Eczar", serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}
  
@keyframes bn54rotate {
0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
}
25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
}
50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
}
75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
}
100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
}
}

@keyframes bn54storm {
0% {
    transform: translate3d(0, 0, 0) translateZ(0);
}
25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
}
50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
}
75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
}
100% {
    transform: translate3d(0, 0, 0) translateZ(0);
}
}

.product > .header {
    position: relative;
    top: 1vh;
    left: 38%;
    width: 40vh;
    height: auto;
}

.header > h1,h4,h3{
    text-align: center;
    font-family: "Eczar", serif;
}

.items {
    position: relative;
    left: 9%;
    width: 150vh;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(4,.4fr);
    grid-template-rows: repeat(4,.4fr);
    overflow: auto;
}

.items > .product {
    height: 50vh;
    width: 32.7vh;
    margin-left: 1vh;  
    margin-top: 1vh;
}

.items > .product > .hex {
    position: absolute;
    top: 8vh;
    left: 2.2vh;
    width: 304px;
    height: 220px;
    background-color: #fdfae7;
    border-color: #fdfae7;
    position: relative;
    display: inline-block;
}

.items > .product > .hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 80px solid;
    border-color: inherit;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
    position: absolute;
    top: -80px;
}

.items > .product > .hex:after {
    content: "";
    width: 0;
    border-top: 80px solid;
    border-color: inherit;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
}

.items > .product > .hex > img{
    position: absolute;
    left: 7vh;
    top: 0;
    width: 150px;
    height: 200px;
}


.items > .product > p {
    position: relative;
    left: .3vh;
    top: 14vh;
    text-align: center;
    font-size: 2vh;
    font-family: "Eczar", serif;
}

.items > .product > .price {
    position: relative;
    left: 11vh;
    top: 14vh;
    width: 10vh;
    height: 3vh;
    background-color: #fbf09b;
    transform: rotate(176deg);
}

.items > .product > .price > p {
    text-align: center;
    position: relative;
    top: .1vh;
    font-family: "Eczar", serif;
    color: #7c702b;
    transform: rotate(184deg);
}

.comments-containers {
    position: relative;
    height: auto;
    width: 100%;
    top: 110vh;
}

.comments-containers > h2 {
    position: relative;
    bottom: 1vh ;
    text-align: center;
    font-family: "Eczar", serif;
}

.comments-containers > h3 {
    color: #f5e163;
    text-align: center;
    font-family: "Eczar", serif;
}

.comments {
    position: relative;
    left: 22.5vh;
    display: grid;
    grid-template-columns: repeat(2,.4fr);
    grid-template-rows: repeat(2,.4fr)
}

.comment {
    width: 70vh;
    background-color: rgb(250, 250, 250);
    margin-bottom: 4vh;
    border-radius: 10px;
}

.comment:nth-child(n+2){
    height: 60%;
}

.comment:nth-child(4){
   position: relative;
   bottom: 8vh; 
}


.comment > .profile {
    position: relative;
    top: 1vh;
    left: 2vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: white;
}

.comment > .profile > i {
    position: relative;
    left: 20%;
    top: 17%;
    font-size: 3vh;
    color: grey;
}

.comment > .name {
    position: relative;
    left: 8vh;
    bottom: 3vh;
    font-family: "Eczar", serif;
    color: grey;
}

.comment > .content {
    font-family: "Eczar", serif;
    position: relative;
    left: 4vh;
    width: 90%;
    height: 20vh;
}

.coduri {
    position: relative;
    left: 10vh;
    height: auto;
    width: 50%;
}

.coduri > h2{
    text-align: left;
    font-family: "Eczar", serif;
}

.code{
    width: auto;
    height: 3vh;
    margin-bottom: 1vh;
    display: flex;
}

.code > .code_container{
    width: 5vh;
    height: 2vh;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(232, 232, 232);
    font-family: "Eczar", serif;
    color: grey;
}

.code > p {
    position: relative;
    bottom: 1.5vh;
    font-family: "Eczar", serif;
}

.poveste {
    position: relative;
    left: 10vh;
    height: 40vh;
    width: 50%;
}

.poveste > h2 {
    text-align: left;
    font-family: "Eczar", serif;
}

.poveste > p {
    text-align: left;
    font-family: "Eczar", serif;
    font-size: 15px;
}

.poveste > .first-image{
    position: relative;
    bottom: 80vh;
    left: 140vh;
}

.poveste > .second-image {
    position: relative;
    left: 117vh;
    bottom: 40vh;
}

.team-members {
    position: relative;
    top: 10vh;
    left: 24vh;
    width: 80%;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
}

.team-members > .member {
    width: 20vh;
    height: 20vh;
    background-color: rgb(232, 232, 232);
    margin-top: 5vh;
    margin-left: 5vh;
    border-radius: 6vh 6vh 10px 10px;
}

.team-members > .member > .img {
    position: relative;
    left: 24%;
    bottom: 23%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
}

.team-members > .member > .img  > i {
    position: relative;
    left: 24%;
    top: 20%;
    font-size: 5vh;
}

.team-members > .member > .content {
    position: relative;
    left: 2.5vh;
    bottom: 5vh;
    height: 13vh;
    width: 15vh;
}

.team-members > .member > .content > h1{
    text-align: center;
    font-family: "Eczar", serif;
    font-size: 23px;
} 

.team-members > .member > .content > h4{
    position: relative;
    bottom: 2vh;
    text-align: center;
    font-family: "Eczar", serif;
    font-size: 15px;
    color: #fedc00;
}  */
